body{
    background-color: #212529;
    font-family: Product Sans;
}
h1.faiz{
    font-size:4.5em;
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#8594ed 94%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.img-link:hover{
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}
.img-link{
    -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 500px;
}
#about{}
hr.new1 {
    border-top: 1px solid red;
    text-align: center;
  }
  